<h3>Portfolio Examples</h3>

<% @skills.each do |skill| %>

  <ul>
    <li>

        <div id="skill-header"> <%= skill.name %> </div>

        <p> <%= skill.description %> </p>

        <% if user_signed_in? %>
        <div class="below-description">
          <%= link_to "Edit", edit_skill_path(skill.id) %>  |
          <%= link_to "Github", skill_path(skill.id) %>  |
          <%= link_to "Delete", skill_path(skill.id), :data => {:confirm => "are you really really sure?", :method => "delete"} %>  |
          <%= link_to "Comments", skill_comments_path(skill.id) %>

        <% else %>

        <%= link_to "Comments", skill_comments_path(skill.id) %> |
        <%= link_to "Github", skill_path(skill.id) %>

        <% end %>

        </div>

    </li>
  </ul>

<% end %>
